@import "compass";

$shadow: rgba(0,0,0,0.8);
$green: #A9BF04;
$gray: #E0E0E0;
$darkgray: #4F4F4F;
$radius: 7px;

$img: "../img";
$defaultMargin: 10px;

@mixin stripes {
	background: $darkgray url(#{$img}/stripes.png);
}

@mixin nolist {
	list-style-type: none;
	margin: 0;
	padding: 0;				
}