| RedirectMatch 301 /2012/06/29/screencast-video-store-refactoring-kata/(.*) /articles/screencast-video-store-refactoring-kata/$1
| RedirectMatch 301 /2012/01/19/im-attending-blackberry-devcon-europe-7-8-february-2012-amsterdam/(.*) /articles/im-attending-blackberry-devcon-europe-7-8-february-2012-amsterdam/$1
| RedirectMatch 301 /2011/09/30/introducing-autotest-for-delphi/(.*) /articles/introducing-autotest-for-delphi/$1
| RedirectMatch 301 /2011/01/02/my-take-on-bootstrapping-an-open-source-playbook-project/(.*) /articles/my-take-on-bootstrapping-an-open-source-playbook-project/$1
| RedirectMatch 301 /2010/06/27/access-control-extension-for-mediawiki-now-on-github/(.*) /articles/access-control-extension-for-mediawiki-now-on-github/$1
| RedirectMatch 301 /2007/09/29/accesscontrol-extension-for-mediawiki-version-0-8/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-8/$1
| RedirectMatch 301 /2007/07/02/delay-on-answering-the-comments/(.*) /articles/delay-on-answering-the-comments/$1
| RedirectMatch 301 /2007/01/12/accesscontrol-extension-for-mediawiki-version-0-7/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-7/$1
| RedirectMatch 301 /2006/11/23/accesscontrol-extension-for-mediawiki-version-0-6/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-6/$1
| RedirectMatch 301 /2006/11/21/accesscontrol-extension-for-mediawiki-version-0-5/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-5/$1
| RedirectMatch 301 /2006/11/06/accesscontrol-extension-for-mediawiki-version-0-4/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-4/$1
| RedirectMatch 301 /2006/10/18/accesscontrol-extension-for-mediawiki-version-0-3/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-3/$1
| RedirectMatch 301 /2006/09/06/accesscontrol-extension-for-mediawiki-version-0-2/(.*) /articles/accesscontrol-extension-for-mediawiki-version-0-2/$1
| RedirectMatch 301 /2006/05/10/seitenbasierte-gruppen-zugriffskontrolle-fuer-mediawiki/(.*) /articles/seitenbasierte-gruppen-zugriffskontrolle-fuer-mediawiki/$1
| RedirectMatch 301 /2006/04/12/apache2-mit-ssltls/(.*) /articles/apache2-mit-ssltls/$1
| RedirectMatch 301 /2006/04/05/authentifizierung-am-ad-mit-centos-4/(.*) /articles/authentifizierung-am-ad-mit-centos-4/$1
| RedirectMatch 301 /2006/04/04/freenx-howto-auf-centos-4/(.*) /articles/freenx-howto-auf-centos-4/$1
| RedirectMatch 301 /about/ /pages/about.html
| RedirectMatch 301 /author/magicmonty/ /pages/about.html
| RedirectMatch 301 /category/blackberry/ /categories/blackberry.html
| RedirectMatch 301 /category/linux/ /categories/linux.html
| RedirectMatch 301 /category/playbook/ /categories/playbook.html
| RedirectMatch 301 /category/screencasts/ /categories/screencasts.html
| RedirectMatch 301 /category/software-craftsmanship/ /categories/software-craftsmanship.html
| ErrorDocument 404 /404.html
|
| <Files .htaccess>
| order allow,deny
| deny from all
| </Files>
