@import "base";
@import "social_icons/*.png";
@import "social_icons_small/*.png";

@include all-social_icons-sprites;

@include all-social_icons_small-sprites;

$iconCount: 10;
$iconSize: social_icons-sprite-height(rss);
$smallIconSize: social_icons_small-sprite-height(rss);
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 0px;
$default-box-shadow-blur: 8px;
$default-box-shadow-spread: 0px;
$default-box-shadow-color: rgba(black, 0.8);
$screen-xs-min: 320px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@mixin nodecoration {
    background-color: transparent !important;
    @include transition(none);
    padding: 0px !important;
}

body {
    background: mix($green, $gray, 10%) url(#{$img}/bg.png) left top repeat-x fixed;
    color: s darken($gray, 65%);
}

a {
    color: $green;
    background-color: transparent;
    padding: 3px;
    @include border-radius(5px);
    @include transition(background-color 0.5s, color, 0.5s);
    &:hover {
        background-color: $green;
        color: mix($green, white, 5%);
    }
}

label {
  margin-right: 10px;
}

input[type="submit"] {
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
  color: #A9BF04;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #363636;
  background-color: #363636;
  color: #eaefc0;
}

header.logo {
    background: transparent url(#{$img}/logo.png) 15px top no-repeat;
    padding-top: 50px;
    padding-left: 60px;
    color: white;
    font-size: 120%;
    font-style: italic;
    margin-top: $defaultMargin;
    margin-bottom: 0;
}

.sidebar {
    @media (min-width: $screen-md-min) {
        @include stripes;
        @include single-box-shadow;
        @include border-radius($radius);
        padding: $defaultMargin;
        margin-bottom: $defaultMargin;
        margin-top: 40px;
    }
    position: relative;
    z-index: 10;
    &:first-child {
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
            margin-left: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        @media (min-width: $screen-md-min) {
            @include border-radius($radius 0px 0px $radius);
        }

        @media (min-width: $screen-md-min) {
            margin-left: 15px !important;
        }

        @media (min-width: $screen-lg-min) {
            margin-left: 35px !important;
        }
    }
    &:last-child {
        margin-left: 0px;
        @include border-radius(0px $radius $radius 0px);
    }
    nav {
        @media (min-width: $screen-md-min) {
            margin-bottom: 2 * $defaultMargin;
        }
        ul {
            @include nolist;
            li {
                @include nolist;
                @include box-sizing(border-box);
                a {
                    text-decoration: none;
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0px $defaultMargin;
                    color: $green;
                    @include border-radius($radius);
                    border: 1px solid darken($darkgray, 10%);
                    background-color: darken($darkgray, 10%);
                    &:hover {
                        background-color: darken($darkgray, 20%);
                        color: lighten($green, 5%);
                        @include text-shadow(0px 0px 20px lighten($green, 20%));
                    }
                }
                &.current {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0px $defaultMargin;
                    color: $green;
                    @include border-radius($radius);
                    border: 1px solid darken($darkgray, 10%);
                    background-color: darken($green, 20%);
                    color: mix($green, white, 25%);
                    font-weight: bold;
                    @include text-shadow(0px 0px 7px lighten($green, 20%));
                }
            }
        }
    }
    .widget {
        @include box-sizing(border-box);
        overflow: hidden;
        margin-bottom: 2 * $defaultMargin;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            text-align: center;
            background: rgb(204, 217, 6);
            @include background-image(radial-gradient(center ellipse cover, rgb(204, 217, 6) 10%, rgb(170, 192, 4) 100%));
            @include border-radius($radius);
            border-bottom: 2px solid lighten($green, 5%);
            border-left: 2px solid darken($green, 5%);
            border-right: 2px solid darken($green, 5%);
            font-weight: bold;
            font-size: 110%;
            line-height: 25px;
            color: white;
            @include text-shadow(0px 0px 7px darken($green, 20%));
            text-transform: uppercase;
            margin: 0;
            padding: 5px $defaultMargin 4px;
            margin-bottom: 5px;
        }
        .content {
            overflow: hidden;
            ul.links {
                @include nolist;
                li {
                    margin: 2px 5px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.full-width {
	width: 100%;
	padding: 0 15px 0 0;
}

#content {
    background: mix($green, white, 5%);
    @media (min-width: $screen-md-min) {
        @include box-shadow(0px 0px 9px 1px);
    }
    @media (max-width: $screen-sm-max) {
        border: 1px solid $darkgray;
    }
    @include border-radius($radius);
    padding: $defaultMargin;
    position: relative;
    line-height: 1.5em;
    z-index: 100;
    margin-bottom: 2 * $defaultMargin;
    margin-left: 0px;
    margin-top: 0;
    z-index: 60;
    overflow: auto;
    @media (min-width: $screen-sm-min) {
        min-height: 550px;
    }
    img {
      max-width: 100%;
    }
    h1 {
        margin: 0;
        color: darken($green, 5%);
        font-weight: bold;
        font-size: 200%;
        a {
            color: $green;
            text-decoration: none;
            @include nodecoration;
            &:hover {
                color: lighten($green, 5%);
            }
        }
    }
    h1.category {
        font-size: 220%;
        text-align: center;
        font-weight: bold;
        background-color: $gray;
        @include border-radius(5px);
        padding: 5px;
        border: 1px solid darken($gray, 10%);
        color: lighten($darkgray, 20%);
        @include text-shadow(1px 1px 1px white);
    }
    article {
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px dotted darken($gray, 10%);
        position: relative;
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0px;
        }
        header {
            h1 {
                margin: 0;
                color: darken($green, 5%);
                font-weight: bold;
                font-size: 200%;
                a {
                    color: $green;
                    text-decoration: none;
                    @include nodecoration;
                    &:hover {
                        color: lighten($green, 5%);
                    }
                }
            }
            .post-meta {
                overflow: hidden;
                background: transparent url(#{$img}/post-std.png) no-repeat left -42px;
                font-size: 95%;
                padding-top: 28px;
                padding-bottom: 5px;
                a.comments {
                    @include nodecoration;
                    background: transparent url(#{$img}/icons.png) no-repeat top;
                    position: relative;
                    right: 22px;
                    top: -32px;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    line-height: 37px;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #333;
                    @include text-shadow(0px 1px 1px white);
                    float: right;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    &:hover {
                        background-position: left -42px;
                        color: white;
                        @include text-shadow(0px -1px -1px rgba(0, 0, 0, 0.25));
                    }
                }
                .date, .info {
                    padding-left: $defaultMargin;
                }
                .date {
                    float: left;
                    height: 42px;
                    span {
                        background: transparent url(#{$img}/post-std.png) no-repeat right -70px;
                        padding: 0 15px 0 0;
                        height: 42px;
                        line-height: 32px;
                        color: white;
                        font-weight: bold;
                        text-transform: uppercase;
                        display: block;
                        float: none;
                    }
                }
                .info {
                    background: transparent url(#{$img}/post-std.png) no-repeat right top;
                    height: 42px;
                    line-height: 32px;
                    display: block;
                    overflow: hidden;
                    color: #BBB;
                    @include text-shadow(1px 1px 1px white);
                    padding-left: 5px;
                    a {
                        color: #999;
                        font-weight: bold;
                        @include nodecoration;
                        &:hover {
                            color: #AAA;
                        }
                    }
                }
            }
        }
        .metainfo {
            background-color: #F6F6F6;
            margin: 1em 0 1em 0;
            padding: 10px;
            border-top: 1px solid #DDD;
            color: #999;
            @include border-radius(5px);
            overflow: auto;
            position: relative;
            font-size: small;
            .media {
                float: left;
                width: 16%;
                margin: 0px auto !important;
                padding: 0px !important;
                @include box-sizing(border-box);
                margin-right: $defaultMargin !important;
                li {
                    float: left;
                    height: $smallIconSize !important;
                    min-width: $smallIconSize !important;
                    margin: 0px !important;
                }
                a.icon {
                    display: block;
                    width: $smallIconSize;
                    height: $smallIconSize;
                    @include nodecoration;
                    margin-top: 0px;
                    span {
                        display: none;
                    }
                }
            }
        }
        p:first-child {
            margin-top: $defaultMargin;
        }
        p:last-child {
            margin-bottom: $defaultMargin;
        }
    }
    article.index {
        p:first-child, p:last-child {
            margin: 0px !important;
        }
    }
    a#archive {
        display: block;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 5px 0px;
        background: transparent;
        @include border-radius(5px);
        @include transition(background-color 0.5s, color, 0.5s);
        &:hover {
            background: $green;
            color: mix($green, white, 5%);
            text-decoration: none;
        }
    }
}

footer {
    display: block;
    text-align: center;
    font-size: 80%;
    text-transform: lowercase;
}

#github-repos {
    padding: $defaultMargin;
    @include box-sizing(border-box);
    overflow: visible;
    ul {
        @include nolist;
        li {
            a {
                text-decoration: none;
            }
            .github-description {
                display: none;
            }
        }
    }
}

.social_icons {
    @include box-sizing(border-box);
    position: absolute;
    margin: 0 !important;
    left: 0px;
    right: 0px;
    z-index: 1;
    top: 1.6 * $iconSize;
    height: 2 * $iconSize;
    display: none !important;
    @media (min-width: $screen-lg-min) {
        display: block !important;
    }
    div.col-md-6 {
        margin: 0 !important;
    }
    .media {
        @include box-sizing(border-box);
        li {
            float: left;
            padding-top: 17px;
        }
        a.icon {
            display: block;
            width: $iconSize;
            height: $iconSize;
            margin-top: $defaultMargin - 10px;
            @include nodecoration;
            @include single-transition(margin, 0.2s);
            span {
                display: none;
            }
            &:hover {
                margin-top: -10px;
            }
        }
    }
    div.col-md-3:first-child {
    	padding-left: 45px;
    }

    div.col-md-3:last-child {
    	padding-right: 45px;
        .media {
            li {
                float: right;
            }
        }
    }
}

.si-tablet {
    @include box-sizing(border-box);
    position: static !important;
    height: $iconSize !important;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 1;
    display: none !important;
    margin-bottom: $defaultMargin !important;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: block !important;
    }
    .col-md-12 {
        padding-left: 33.33333333333333%;
        .media {
            width: $iconCount * $iconSize;
            margin: 0 auto !important;
            padding-top: 20px;
            @include box-sizing(border-box);
            li {
                float: left;
                padding-top: 17px;
                height: $iconSize + 17px;
            }
            a.icon {
                display: block;
                width: $iconSize;
                height: $iconSize;
                margin-top: $defaultMargin - 10px;
                @include nodecoration;
                @include single-transition(margin, 0.2s);
                span {
                    display: none;
                }
                &:hover {
                    margin-top: -10px !important;
                }
            }
        }
    }
}

.si-phone {
    @include box-sizing(border-box);
    position: static !important;
    height: $smallIconSize !important;
    padding: 0px !important;
    margin: 0px !important;
    display: none !important;
    margin-bottom: $defaultMargin !important;
    margin-left: 15px;
    @media (min-width: 365px) and (max-width: $screen-sm-max) {
        display: block !important;
    }
    .col-md-12 {
        height: $smallIconSize !important;
        .media {
            width: $iconCount * $smallIconSize;
            height: ($smallIconSize + 7px) !important;
            margin: 0px auto !important;
            padding-top: 7px;
            @include box-sizing(border-box);
            li {
                float: left;
                height: $smallIconSize !important;
                margin: 0 !important;
                padding-top: 0 !important;
            }
            a.icon {
                display: block;
                width: $smallIconSize;
                height: $smallIconSize;
                @include nodecoration;
                margin-top: 0px;
                span {
                    display: none;
                }
            }
        }
    }
}

.main {
	.col-md-3 {
        @media (min-width: $screen-md-min) {
            width: 23%;
        }
	}

    @media (min-width: $screen-md-min) {
        margin: 13px 0 0 0;
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        margin: 0 0 0 15px !important;
    }
}

.ad > iframe, .amazon_widget_DE_8001_0 {
    display: block;
    margin: 0 auto;
}

.amazon_widget_DE_8001_0 {
    width: 180px;
}

.ad > iframe {
    width: 120px;
}

.ad .wdgt_hd, .ad .wdgt_ft {
    display: none !important;
}

.ad .amzn_wdgt {
    background: none !important;
    border: none !important;
}

.amzn_wdgt div {
    margin-right: 10px !important;
}

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.glyphicon-white {
    color: white;
}

ul.posts {
  padding: 0;
}

.tagcloud {
  a {
    float: left;
    display: block;
    margin: 0;
    white-space: nowrap;
    word-wrap: break-word;

    &.set-1 {
      font-size: 75%;
    }

    &.set-2 {
      font-size: 93%;
    }

    &.set-3 {
      font-size: 99%;
    }

    &.set-4 {
      font-size: 123%;
    }

    &.set-5 {
      font-size: 140%;
    }
  }
}
