<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
  {% include head.html %} 
  <body>
    {% assign all_social_links = site.data.social_links | where: "display", true %}
    {% assign left_social_links = all_social_links | where: "position", "left" %}
    {% assign right_social_links = all_social_links | where: "position", "right" %}
    <div class="container full-width">
      <div class="row">
        <header class="col-md-12 logo">{{ site.description }}</header>
      </div>
      <div class="row social-icons">
        <div class="col-md-3">
          <ul class="list-unstyled media">
            {% for link in left_social_links %}<li><a href="{{ link.url }}" rel="tooltip" target="_blank" title="{{ link.title }}" class="icon social-icons-{{ link.icon }}"><span>{{ link.title }}</span></a>
              {% endfor %}</ul>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <ul class="list-unstyled media">
            {% for link in right_social_links reversed %}<li><a href="{{ link.url }}" rel="tooltip" target="_blank" title="{{ link.title }}" class="icon social-icons-{{ link.icon }}"><span>{{ link.title }}</span></a>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row social-icons si-tablet">
        <div class="col-md-12">
          <ul class="list-unstyled media">
            {% for link in all_social_links %}<li><a href="{{ link.url }}" rel="tooltip" target="_blank" title="{{ link.title }}" class="icon social-icons-{{ link.icon }}"><span>{{ link.title }}</span></a>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row social-icons si-phone">
        <div class="col-md-12">
          <ul class="list-unstyled media">
            {% for link in all_social_links %}<li><a href="{{ link.url }}" title="{{ link.title }}" class="icon social-icons-small-{{ link.icon }}" target="_blank"><span>{{ link.title }}</span></a>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row main">
        <div id="sidebar_left" class="col-md-3 col-sm-12 col-xs-12 sidebar">
          {% include navigation.html %}
          {% include tagcloud.html %}
          {% include github.html classes="visible-md hidden-xs hidden-sm hidden-lg" %}
          {% include links.html classes="visible-md hidden-xs hidden-sm hidden-lg" %}
        </div>
        <div id="content" class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
          {{ content | extlinks }}
        </div>
        <div id="sidebar_right" class="col-md-3 sidebar visible-lg">
          {% include github.html classes="hidden-md" %}
          {% include links.html classes="hidden-md" %}
        </div>
      </div>
      <div class="row">
        <footer class="col-md-12">&copy; {{ site.time | date: '%Y' }} by pagansoft.de</footer>
      </div>
    </div>
    <script src="/js/default.js"></script>
    <script>
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'pagansoft'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>
